.header-container
{
    display:flex;
    justify-content: center;
}

.header
{
    font-family: "Snell Roundhand";
    font-weight: normal;
    font-size: 60px;
}

.page
{
    border: 3px solid black;
    margin: 40px;
}

.nav-container
{
    display: flex;
    justify-content: space-around;
    
}

.nav-link
{
    font-size: 30px;
    font-weight: bold;
    font-family: "Futura";
    color: #666;
}

.nav-link:hover
{
    text-decoration: underline;
}

.border
{
    border: 3px solid black;
}

.articles-container
{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}

.floki-image
{
    display: flex;
    height: 300px;
    width: 200px;
    justify-content: center;
}

.article-header
{
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

.article-content
{
    margin: 20px;
}

.article-2
{
    grid-area: "article-2";
    display: flex;
    align-items: center;
    flex-direction: column;
}
